/* 改变主题色变量 */
//$--color-primary: #06D995;
$--color-primary: #105CFB;
$--color-warning: #fc8740;
$--color-info: #909399;
$--color-Danger: #F56C6C;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
.text-Danger{
  color: $--color-Danger;
}
@import "~element-ui/packages/theme-chalk/src/index";
*,
body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  // font-family: Arial,Helvetica,sans-serif;
}

body {
  color: #666;
  font-size: 14px;
  background: #f0f3f7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.gray {
  color: #aaaaaa;
}

.column {
  flex-direction: column;
}

.column-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.red {
  color: #fe6538;
}

.blue {
  color: #3f86ff;
}

.bb {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*此处只是去掉默认的小×*/
}

//超过一行省略
.hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-bottom,
.border-top,
.border-right {
  position: relative;
}

.border-bottom::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.border-top::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.breadcrumb {
  width: 100%;
  height: 54px;
  background-color: #fff;
  padding-left: 32px;
  box-sizing: border-box;
  .el-breadcrumb {
    line-height: 54px;
  }
}
.router_container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.router_view {
  width: 100%;
  height: calc(100vh - 145px);
  background-color: #ffffff;
  border-radius: 4px;
}
.container {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  height: calc(100vh - 145px);
  box-shadow: 0px 8px 20px 6px #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
.searchbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .el-form-item {
    margin-bottom: 10px;
  }
}

.el-dialog__header {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dcdcde;
  text-align: left;
  font-weight: 600;
  .el-dialog__header {
    text-align: left;
    font-weight: 600;
  }
}
.el-input-number .el-input__inner {
  text-align: left !important;
}
.table-box {
  border: solid 1px #c9cbd6;
  margin-top: 16px;
}
